<h3>Registrerte mistenkelige</h3>
<table id="mistenkeligePersoner" class="table table-striped table-condensed table-bordered">
    <thead>
    <tr>
        <th id="idHeader">#</th>
        <th id="navnHeader">Navn</th>
        <th id="telefonHeader">Telefon</th>
        <th id="emailHeader">e-mail</th>
        <th id="mistenkelighetHeader">Mistenkelighetsgrad</th>
        <th id="fjernHeader">Fjern</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
